.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 218px;
    min-height: 64px;
    padding: 25px;
    background-color: $nimes-black;
}

.btn-text {
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
}