$nimes-black: #151c22;

.products {}

.products__container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    /* отрицательные горизонтальные марджины
    чтобы компенсировать отступы айтемов */
    margin-bottom: -8px;
}

.products__item {
    margin-left: 15px;// горизонтальные марджины вместо gap flex
    margin-right: 15px;//
    margin-bottom: 30px;
}

.products__img-wrapper {
    display: block;
    margin-bottom: 21px;
    width: 270px;
    height: 349px;
}

.products__img {
    width: 270px;
    height: 349px;
}

.products__name {
    margin-bottom: 9px;
    font-size: 1.125em;
    font-weight: 500;
}

.products__price {
    font-weight: 700;
    font-size: 1em;
}

.products__more {
    align-self: center;
    font-size: 1.148em;
    min-width: 80px;
    text-align: center;
    padding-bottom: 2px;
    font-weight: 500;
    border-bottom: 2px solid $nimes-black;

    @media screen and (min-width: 610px) {
        position: absolute;
        top: 124px;
        right: 20px;
    }

    @media screen and (min-width: 950px) {
        position: absolute;
        top: 123px;
        right: 80px;
    }
}

///////////////////////
/* Модификатор для каталога */
.products--square-items {
    & .products__list .products__item .products__img-wrapper {
        width: 270px;
        height: 270px;
    }
}

.products__catalog-controls-wrapper {
    @media screen and (min-width: 950px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

.products__breadcrumbs {
    font-size: 1.125rem;
    color: #727a82;

    & > span {
        color: $nimes-black;
    }

    margin-bottom: 40px;
    @media screen and (min-width: 950px) {
        margin-bottom: 0;
    }
}

.products__filter {
    margin-bottom: 40px;
    @media screen and (min-width: 950px) {
        margin-bottom: 0;
    }
}

//////////////////////
/* loader */
.products__catalog-more {
    display: flex;
    justify-content: center;

    margin-top: 40px;
    @media screen and (min-width: 950px) {
        margin-top: 60px;
    }
}

.products__catalog-loader {}

.products__catalog-text {
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 6px;
}

.products__catalog-line {
    height: 2px;
    background-color: #e5e5e5;
    cursor: pointer;
}

.products__catalog-indicator {
    height: 2px;
    width: 25%;
    cursor: pointer;
    background-color: $nimes-black;

    margin: auto;
}

.products__btn {
    margin-top: 40px;
}