<section class="products products--square-items">
    <div class="products__container container">

        <div class="products__catalog-controls-wrapper">
            <div class="products__breadcrumbs">All categories / Woman / <span>Jackets</span></div>
            <select class="products__filter">
                <option>Пункт 1</option>
                <option>Пункт 2</option>
            </select>
        </div>

        <ul class="products__list">
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/jacket-3.png" alt="Jacket">
                </a>

                <p class="products__name">Jacket</p>
                <p class="products__price">&#36;40</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/jacket-4.png" alt="Overalls">
                </a>

                <p class="products__name">Jacket</p>
                <p class="products__price">&#36;70</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/jacket-5.png" alt="Jacket">
                </a>

                <p class="products__name">Jacket</p>
                <p class="products__price">&#36;60</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/jacket-6.png" alt="Overalls">
                </a>

                <p class="products__name">Jacket</p>
                <p class="products__price">&#36;50</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/jacket-7.png" alt="Overalls">
                </a>

                <p class="products__name">Jacket</p>
                <p class="products__price">&#36;40</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/jacket-8.png" alt="Overalls">
                </a>

                <p class="products__name">Jacket</p>
                <p class="products__price">&#36;110</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/jacket-9.png" alt="Overalls">
                </a>

                <p class="products__name">Jacket</p>
                <p class="products__price">&#36;35</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/jacket-10.png" alt="Overalls">
                </a>

                <p class="products__name">Jacket</p>
                <p class="products__price">&#36;85</p>

            </li>
        </ul>

        <div class="products__catalog-more">
            <div class="products__catalog-loader">
                <div class="products__catalog-text">
                    Showing 
                        <span class="products__catalog-part">9</span>
                    of
                        <span class="products__catalog-full">45</span>
                    items
                </div>
                <div class="products__catalog-line">
                    <div class="products__catalog-indicator"></div>
                </div>
                
                <a href="#" class="products__btn btn">
                    <span class="btn-text">Check new collection</span>
                </a>
            </div>
        </div>

    </div>
</section>