<section class="card">
    <div class="card__container">

        <div class="card__photo">
            <button class="card__photo-control">
                <svg class="card__photo-arrow" width="13" height="23" viewBox="0 0 13 23" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 1L2 11.5L12 22" stroke="#151C22" stroke-width="2" />
                </svg>
            </button>
            <div class="card__photo-wrapper">
                <img class="card__photo-full" src="img/overalls-slider-1.png" alt="">
                <ul class="card__photo-preview">
                    <li class="card__photo-preview-item">
                        <img class="card__photo-preview-img" src="img/overalls-slider-1.png" alt="Overalls">
                    </li>
                    <li class="card__photo-preview-item">
                        <img class="card__photo-preview-img" src="img/overalls-slider-1.png" alt="Overalls">
                    </li>
                    <li class="card__photo-preview-item">
                        <img class="card__photo-preview-img" src="img/overalls-slider-1.png" alt="Overalls">
                    </li>
                    <li class="card__photo-preview-item">
                        <img class="card__photo-preview-img" src="img/overalls-slider-1.png" alt="Overalls">
                    </li>
                </ul>
            </div>
            <button class="card__photo-control">
                <svg class="card__photo-arrow" width="13" height="23" viewBox="0 0 13 23" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 1L2 11.5L12 22" stroke="#151C22" stroke-width="2" />
                </svg>
            </button>
        </div>

    </div>
    <div class="gray-background">
        <div class="card__props">
            <div class="card__props-top-wrapper">
                <p class="card__props-title section-title">Overalls</p>
                <p class="card__props-description">Overalls in washed organic cotton denim. Collar, button fly, and
                    adjustable belt at waist. Chest pockets with flap. Long, gently flared sleeves and straight legs
                    with front pockets and back pockets.</p>
            </div>

            <form action="" class="card__props-form form">

                <fieldset class="form__fieldset form__fieldset-color">
                    <label class="form__label" for="color">Color</label>
                    <div class="form__inputs-wrapper">
                        <label class="form__label">
                            <input class="form__input-radio" type="radio" name="color" value="blue-kraiola" checked>
                            <span class="form__radio" id="blue-kraiola"></span>
                        </label>
                        <label class="form__label">
                            <input class="form__input-radio" type="radio" name="color" value="blue">
                            <span class="form__radio" id="blue"></span>
                        </label>
                        <label class="form__label">
                            <input class="form__input-radio" type="radio" name="color" value="pale-blue">
                            <span class="form__radio" id="pale-blue"></span>
                        </label>
                    </div>
                </fieldset>

                <fieldset class="form__fieldset form__fieldset-size">
                    <label class="form__label" for="size">Size</label>
                    <div class="form__inputs-wrapper">
                        <input type="radio" class="form__radio" name="size" id="size" value="size-1">
                        <input type="radio" class="form__radio" name="size" id="size" value="size-2"> <input
                            type="radio" name="" id="" class="form__radio">
                        <input type="radio" class="form__radio" name="size" id="size" value="size-3">
                        <input type="radio" class="form__radio" name="size" id="size" value="size-4">
                    </div>
                </fieldset>

                <fieldset class="form__fieldset form__fieldset-submit">
                    <p class="form__price">&#36;160</p>
                    <button class="form__btn btn" type="submit">Add to cart</button>
                </fieldset>

            </form>
        </div>
    </div>
</section>