<section class="products">
    <div class="container products__container products--small products--large">
        
        <h2 class="products__title section-title">Bestsellers</h2>

        <ul class="products__list">
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/jacket-1.png" alt="Jacket">
                </a>

                <p class="products__name">Jacket</p>
                <p class="products__price">&#36;120</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/overalls-1.png" alt="Overalls">
                </a>

                <p class="products__name">Overalls</p>
                <p class="products__price">&#36;140</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/jacket-2.png" alt="Jacket">
                </a>

                <p class="products__name">Jacket</p>
                <p class="products__price">&#36;90</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/overalls-2.png" alt="Overalls">
                </a>

                <p class="products__name">Overalls</p>
                <p class="products__price">&#36;160</p>

            </li>
        </ul>

        <a href="" class="products__more more-btn">View all</a>
    </div>
</section>