<section class="news">
    <div class="news__container container">

        <h2 class="news__heading section-title">News</h2>
        <div class="news__list">
            <div class="news__image"></div>
            <div class="news__item-wrapper">
                <div class="news__item">
                    <p class="news__title">G- Star Updates Its Sustainable Collection</p>
                    <p class="news__date">Feb 12, 2020</p>
                    <p class="news__description">G-Star Raw is pushing the sustainability movement forward with a
                        collection of stretch denim items for spring 2020 which is particularly designed for reuse...
                    </p>
                    <a href="#" class="news__btn btn">
                        <span class="btn-text">Read more ...</span>
                    </a>
                </div>
            </div>
        </div>

        <a href="" class="news__more more-btn">View all</a>
    </div>
</section>