<section class="products">
    <div class="container products__container products--small products--large">
        
        <h2 class="products__title section-title">Shop by category</h2>

        <ul class="products__list">
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/category-jeans.png" alt="Jeans">
                </a>

                <p class="products__name">Jeans</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/category-shirts.png" alt="Shirts">
                </a>

                <p class="products__name">Shirts</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/category-jackets.png" alt="Jackets">
                </a>

                <p class="products__name">Jackets</p>

            </li>
            <li class="products__item">
                <a href="" class="products__img-wrapper">
                    <img class="products__img" src="img/category-overalls.png" alt="Overalls">
                </a>

                <p class="products__name">Overalls</p>

            </li>
        </ul>

        <a href="" class="products__more more-btn">View all</a>
    </div>
</section>